# EditorConfig - это замечательно: http://EditorConfig.org

# Файл EditorConfig верхнего уровня
root = true

[*.md]
trim_trailing_whitespace = false # удаление пробелов в конце строк в .md-файлах не производится

[*.js]
trim_trailing_whitespace = true # аналогичный параметр для .js-файлов установлен в false

# Переводы строк в стиле Unix с пустой строкой в конце файла
[*]
indent_style = space # отступы оформляются пробелами а не знаками табуляции
indent_size = 2 # размер отступа равен двум пробелам
end_of_line = lf # перевод строки оформляется символом lf. Это позволит всем, независимо от применяемых ими операционных систем, пользоваться одним и тем же символом перевода строки
charset = utf-8
insert_final_newline = true # в конце файла должна быть пустая строка
max_line_length = 100 # максимальная длина строки установлена в 100 символов